<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Name}}
    {{.Desc}}
    {{.Meal}} {{.Price}}
{{end}}

</body>
</html>